[flake8]

max-line-length = 150

exclude = ./requirements.txt,
          ./requirements-dev.txt,
          ./READ.me,
          .gitignore,
          ./__init__.py,
          ./*/__init__.py,
          ./*/*/__init__.py
  
